<hibernate-configuration>
  <session-factory>
      <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/proiect</property>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">rares2003</property>
    <mapping resource="pojo/Proiect.hbm.xml"/>
    <mapping resource="pojo/Studenti.hbm.xml"/>
    <mapping resource="pojo/Cursuri.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
